<!DOCTYPE html>
<html lang="en">

<head>
    <title>Conversation bot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="h3 text-white mx-auto" style="width: 80%;">Conversation bot dashboard</div>
    </nav>


    <div class="row no-gutters mx-auto" style="width: 80%;">
        <div class="col-sm min-vh-100 text-center">
            <div class="h4 mb-2 bg-secondary text-light">Your conversations</div>
            <table class="table table-hover table-light">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">File</th>
                    <th scope="col">Upload date</th>
                    <th scope="col">Size</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in range(user_conversations|length) %}
                    {% set conv = user_conversations[i] %}
                    <tr>
                        <th scope="row">{{i}}</th>
                        <td>{{conv.name}}</td>
                        <td>{{conv.creation_date.strftime("%Y-%m-%d, %H:%M:%S")}}</td>
                        <td>{{(conv.data_size / 1000)|int}} KB</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <form action="/dashboard" method="POST" enctype="multipart/form-data" class="p-5 pb-6 ml-5 mr-5 border-top">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="conversation-file" id="conversation-file">
                        <label class="custom-file-label" for="conversation-file">Upload a new conversation...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Upload</button>
            </form>
        </div>

        <div class="col-sm border-left border-secondary min-vh-100 text-center">
            <div class="h4 mb-2 bg-secondary text-light">Your bots</div>
        </div>
    </div>
    <script>
        $('#conversation-file').on('change',function(){
            //get the file name
            var fileName = $(this).val().replaceAll("\\","\/");
            fileName = fileName.substring(fileName.lastIndexOf("/") + 1)
            //replace the label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
</body>

</html>