<!DOCTYPE html>
<html lang="en">

<head>
    <title>Conversation bot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="h3 pl-5 text-white">Conversation bot dashboard</div>
    </nav>


    <div class="row no-gutters">
        <div class="col-sm min-vh-100 text-center">
            <div class="h5 mb-2 bg-secondary text-light">Your conversations</div>
            <form action="/create" method="POST" enctype="multipart/form-data" class="p-5 pb-6 ml-5 mr-5 border-bottom">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="conversation-file" id="conversation-file">
                        <label class="custom-file-label" for="conversation-file">Upload a new conversation...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Upload</button>
            </form>
            
            <ul class="list-group pt-5">
                <li class="list-group-item">List TODO...</li>
            </ul>
        </div>

        <div class="col-sm border-left border-secondary min-vh-100 text-center">
            <div class="h5 mb-2 bg-secondary text-light">Your bots</div>
        </div>
    </div>
    <script>
        $('#conversation-file').on('change',function(){
            //get the file name
            var fileName = $(this).val().replaceAll("\\","\/");
            fileName = fileName.substring(fileName.lastIndexOf("/") + 1)
            //replace the label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
</body>

</html>